<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @blog_post.body %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @blog_post.published_at %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog_post.author_id %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
